<div class="admin-container">
    <h1>Painel Administrativo</h1>
    <div class="video-list">
      <h2>Vídeos</h2>
      <ul>
        <li *ngFor="let video of videos">
          {{ video }}
          <button (click)="deleteVideo(video)">Excluir</button>
        </li>
      </ul>
    </div>
    <div class="add-video">
      <h2>Adicionar Vídeo</h2>
      <form (ngSubmit)="addVideo()">
        <input type="text" [(ngModel)]="newVideoName" name="videoName" placeholder="Nome do vídeo" required />
        <button type="submit">Adicionar</button>
      </form>
    </div>
  </div>
  