<div class="login-container">
    <h2>Bem-vindo ao CineHub</h2>
    <form (ngSubmit)="onSubmit()">
      <label for="username">Usuário</label>
      <input type="text" id="username" [(ngModel)]="username" name="username" required />
  
      <label for="password">Senha</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required />
  
      <button type="submit">Entrar</button>
      <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    </form>
  </div>
  