/* Reset basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global Body Styles */
  body {
    font-family: 'Arial', sans-serif;
    background-color: #0d0335; 
    text-align: center;
    justify-content: center;
    height: 100vh;
  }
  
  header {
    text-align: center; 
  }
  
  h1 {
    color: white;
    font-size: 100px;
    text-transform: uppercase;
  }
  
  .logo img {
    max-width: 300px; 
    height: auto; 
    margin-bottom: 20px; 
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .movie-card {
      width: calc(50% - 20px);
    }
  }
  
  @media (max-width: 480px) {
    .movie-card {
      width: 100%;
    }
  }
  